/vendor/
composer.lock

/cache/
/logs/
*.log

.env
*.env.local
*.env.*.local

/sessions/

/public/uploads/
public/temp/
public/assets/

/psalm*.log
/psalm/**/results-*.json
/psalm/**/reports/

/tests/coverage/
*.phpunit.result.cache

/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

*.bak
*.swp
*.swm
*.tmp

*~
